on boot
    # Google Key
    write /sys/devices/platform/soc/soc:asustek_googlekey/googlekey_enable 1

    # Smart Charging
    chown system system /sys/class/power_supply/battery/input_suspend
    chmod 0666 /sys/class/power_supply/battery/input_suspend
